export CONFIG="scenario_warehouse_simple"
export GZWORLD="$(rospack find $CONFIG)/config/world.world"
export MAP="$(rospack find $CONFIG)/config/maps/map.yaml"

export TURTLE_TYPE="burger"
export TURTLE_POS_X="0.0"
export TURTLE_POS_Y="0.0"  
export TURTLE_POS_Z="0.0"  


