<?xml version="1.0"?>
<launch>
  <arg name="ns" value="$(env NS_NAME)"/>

  <arg name="type"/>
  <arg name="x"/>
  <arg name="y"/>
  <arg name="z" default="0.0"/>

  <arg name="model" value="$(find trolly)/urdf/urdf_$(arg type).xacro"/>

  <group ns="$(arg ns)">
    <param name="$(arg ns)_description" command="$(find xacro)/xacro $(arg model)" />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg ns) -x $(arg x) -y $(arg y) -z $(arg z) -param $(arg ns)_description" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <remap from="robot_description" to="$(arg ns)_description"/>
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg ns)"/>
    </node>

  </group>
</launch>
