<launch>
  <arg name="ns"/>

  <group ns="$(arg ns)">
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

      <rosparam file="$(find trolly)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find trolly)/param/global_costmap_params.yaml" command="load" />

      <rosparam file="$(find trolly)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find trolly)/param/local_costmap_params.yaml" command="load" />

      <rosparam file="$(find trolly)/param/move_base_params.yaml" command="load" />

      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      <rosparam file="$(find trolly)/param/dwa_local_planner_params.yaml" command="load" />


      <remap from="map"                                to="/map" />
      <param name="global_costmap/global_frame"        value="map" />

      <param name="global_costmap/robot_base_frame"    value="$(arg ns)/base_footprint" />
      <param name="local_costmap/robot_base_frame"     value="$(arg ns)/base_footprint" />

      <param name="global_costmap/scan/sensor_frame"   value="$(arg ns)/base_scan" />
      <param name="local_costmap/scan/sensor_frame"    value="$(arg ns)/base_scan" />

      <param name="local_costmap/global_frame"         value="$(arg ns)/odom" />

    </node>
  </group>
</launch>
