<?xml version="1.0"?>
<model>
  <name>Warehouse Shelf</name>
  <version>1.0</version>
  <sdf version='1.4'>warehouse_shelf.sdf</sdf>

  <author>
   <name>James Heselden</name>
   <email>primordia@live.com</email>
  </author>

  <description>
    Warehouse shelf with minimal colision
  </description>
</model>
