<launch>

  <arg name="x_pos" default="$(env TURTLE_POS_X)"/>
  <arg name="y_pos" default="$(env TURTLE_POS_Y)"/>
  <arg name="z_pos" default="$(env TURTLE_POS_Z)"/>

  <include file="$(find trolly)/launch/gzrobot.launch">
    <arg name="namespace" value="trolly_alphred"/>
    <arg name="x_pos"     value="0.0"/>
    <arg name="y_pos"     value="0.0"/>
    <arg name="z_pos"     value="0.0"/>
  </include>

</launch>
