<?xml version="1.0"?>
<model>
  <name>Warehouse Shelf</name>
  <version>1.0</version>
  <sdf version='1.4'>warehouse_shelf.sdf</sdf>

  <author>
   <name>James Heselden</name>
   <email>primordia@live.com</email>
  </author>

  <description>
    Warehouse shelf with minimal colision
    - 0.5m under space
    - 3 shelf spaces 0.5m high
    - .8m*.8m footprint
    - 2m total height
  </description>
</model>
